/* CHATBOT  */

/* BASE */
@import url('chatbot/base/variables.css');
@import url('chatbot/base/reset.css');
@import url('chatbot/base/layout.css');

/* COMPONENTES */
@import url('components/sidebar.css');
@import url('components/header.css');
@import url('components/messages.css');
@import url('components/input.css');
@import url('components/welcome.css');
@import url('components/modal.css');
@import url('components/notifications.css');




/* ANIMACIONES */
@import url('animations/animations.css');

/* RESPONSIVE */
@import url('responsive/responsive.css');