/* Importamos la fuente Clash Display directamente */
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');

/* Variables básicas */
:root {
    --bg-body: #070c2a;
    --primary: #8b5cf6;
}

body {
    font-family: 'Clash Display', sans-serif;
    background-color: var(--bg-body);
    color: white;
    overflow-x: hidden; /* Previene scroll horizontal indeseado */
}

.gradient-text {
    background: linear-gradient(
        90deg,
        var(--primary),
        #a78bfa,
        #00bbe4
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/* Animaciones personalizadas que Tailwind no trae por defecto */
@keyframes spinStar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-spin-slow {
    animation: spinStar 10s linear infinite;
}

/* Estilos de scrollbar para que combine con el modo oscuro */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--bg-body);
}
::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}